@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #F7F7F7;
}

header {
    background-color: #F5466F;
}

header > h1 {
    text-align: center;
}

nav {
    text-align: center;
    text-decoration: none;  
}